html,
body {
    width: 100vw;
    height: 100vh;
}
.App {
    width: 100vw;
    height: 100vh;
}
.graph-wrapper {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
}
.graph-wrapper .graph-item {
    width: 60vw;
    height: 30vw;
    box-sizing: border-box;
    border: 1px solid #737373;
    margin: 10px auto;
}